<div class="description">
  <div class="col-xs-12 col-sm-2">
    <%= user_avatar_tag dream.user, class: 'avatar-large' %>
  </div>
  <div class="col-xs-12 col-sm-8">
    <h4><%= dream.title %></h4>
  </div>
  <div class="col-xs-10 col-xs-offset-2">
    <hr>
    <%= dream.description %>
  </div>
</div>
<% if user == dream.user %>
  <div class="col-xs-12">
    <div class="edit-link">
    <%= link_to 'Edit your dream', edit_dream_path(dream), class: 'btn-dreamlist-subtile' %>
    </div>
  </div>
<% end %>
