<div class="marged">
  <div class="wrapper-profile">
    <div class="container">
      <div class="row">
          <% if @query.present? %>
            <h2><%=@query.capitalize  %>'s dreams</h2>
          <% else %>
            <h2>There is no dreams for this search</h2>
          <% end %>

        <div class="filtered-dreams">
          <% if @dreams.count > 0 %>
            <% @dreams.each do |dream| %>
              <%= render 'shared/dream_card', dream: dream %>
            <% end %>

          <% else %>
            <p>No <%= @query %>'s dream created yet.</p>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
