<div class="marged">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <div class="row">
          <div class="col-xs-12">
            <h1>Start dreaming...</h1>
            <%= render 'form', dream: @dream %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

