<div class="marged">
  <div class="wrapper-profile">
    <div class="container">
      <div class="row">
        <%= render 'shared/profile_show', user: @dreams.first.user %>
        <% Dream::CATEGORIES.each do |category| %>
          <% if @dreams.first.user.has_dream_in?(category) %>
            <div class="col-xs-12 col-sm-4">
              <%= render 'shared/tableau', dreams: @dreams, category: category %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
