<div class="wrapper-profile">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <p>Mettre l'avatar ici</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= @user.first_name %>

      </div>

    </div>
  </div>
  <h1>Your Profile</h1>
  <p>@user.first_name</p>
  <p>@user.last_name</p>
  <p></p>
  <%= link_to "Edit your profile", edit_profile_path, class: "btn-dreamlist-subtile" %>
</div>
