.dreams.show {
  background-color: #fafafa;
  .dreams-menu {
    padding-left: 90px;
    margin: 70px 0px 0px 0px;
    background-color: white;
  }
}

.banner-dream-show {
  background-position: center;
  color: white;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  height: calc(100vh - 270px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .avatar-large {
    position: absolute;
    bottom: -60px;
    left: 100px;
    border: 4px solid white;
  }
  .dream-owner-name {
    color: white;
    position: absolute;
    left: 300px;
    bottom: 60px;
    font-weight: lighter;
    font-size: 28px;
  }
  .edit-link {
    position: absolute;
    left: 300px;
    bottom: 20px;
  }
}

.show-dream-card {
  margin: 70px 200px 0px 0px;
}

.dream-show-description {
  margin: 100px 0px 0px 0px;
  .description {
    padding: 0px 30px;
    p {
      margin-top: 0px;
      color: $double-dark-gray;
    }
  }
  .kitty-part {
    margin: 0px;
    padding: 0px 30px;
    .global-bar {
    height: 4px;
    background-color: #eaeaea;
    border-radius: 2px;
    margin-bottom: 10px;
    .participation-bar {
      background-color: $green;
      height: 100%;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      }
    }
    .kitty-info-and-btn {
      .in-column {
        display: block;
        .strong-green {
          color: $green;
          font-size: 18px !important;
        }
        p:first-child {
          margin-bottom: 0px;
          font-size: 16px;
          font-weight: lighter;
        }
        .strong {
          font-size: 18px !important;
          color: $almost-black;
        }
      }
      .kitty-details {
        margin-top: 25px;
        margin-bottom: 50px;
        width: 85%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }
    }
  }
}
.kitty-part {
  h4 {
    color: $almost-black;
    font-size: lighter;
  }
}

.kitty-details-no-amount {
  display: flex;
  flex-direction: column;
  .collected-amount {
    margin: 10px 15px;
    h4 {
      color: $green;
      font-size: 24px;
    }
  }
  .secondary-elements {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    .in-column {
      margin: 0px 15px;
    }
  }
}

.profiles.show {
  .profile-image {
    border-radius: 4px;
    height: 200px;
  }
}

.dreams.show {
  .dream-lovers {
    background-color: white;
    .likes-avatars {
      padding: 60px 30px;
    }
  }
  .content-links {
    margin: 0px 20px;
    p {
      margin: 0px;
      font-weight: lighter;
      font-size: 14px;
    }
    .share-part {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0px;
      .fa:first-child {
        margin-top: 0px;
        padding-left: 0px;
      }
      .fa {
        font-size: 25px;
        &:hover {
          color: $almost-black;
        }
      }
    }
  }
}




