.global-bar {
  margin: 0px;
  height: 4px;
  background-color: #eaeaea;
  margin-bottom: 10px;
  line-height: 0px;
  font-size: 0px;
  .participation-bar {
    background-color: $green;
    height: 100%;
    display: inline-block;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .participation-bar-private {
    background-color: $blue3;
    height: 100%;
    display: inline-block;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

.kitty-part {
  margin: 25px 0px;
  padding: 0px 5px;
  }
  h5 {
    padding: 0px 10px;
    color: $dark-gray;
    font-size: 18px;
  }
  .global-bar {
  margin: 0px 15px;
  }
}

.image-dream-show {
  background-position: center;
  color: white;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  height: calc(100vh - 160px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .avatar-large {
    position: absolute;
    bottom: -60px;
    left: 100px;
    border: 4px solid white;
  }
  .edit-link {
    position: absolute;
    left: 300px;
    bottom: 20px;
  }
}

.description {
  h4 {
    color: $almost-black;
  }
  .content {
    margin: 30px 0px !important;
  }
  p {
    color: $double-dark-gray;
  }
  p span {
    color: $almost-black;
  }
}

.metric-container {
  margin: 30px 0px;
  padding: 0px 40px 0px 0px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.metric {
  margin: 0px 10px;
}


.kitty-info-and-btn {
  margin: 30px 20px 20px 20px;
  .kitty-total-amount {
    margin-bottom: 10px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    .strong-black {
      color: $double-dark-gray;
      font-size: 18px !important;
      font-weight: normal;
    }
    p {
      font-size: 18px !important;
      font-weight: normal;
      color: $double-dark-gray;
    }
  }
  .kitty-details.private {
    border-left: 1px solid #E6E6E6;
    min-height: 150px;
    h5 {
      margin: 0px;
      font-size: 18px !important;
    }
    .strong-blue {
      color: $blue3;
      font-size: 18px !important;
      font-weight: normal;
      margin-bottom: 0px;
    }
  }
  span a {
    &:hover {
      opacity: 0.85;
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
  .kitty-details {
    margin: 50px 0px;
    padding: 0px 15px;
    width: 100%;
  }
  .strong-green {
    color: $green;
    font-size: 18px !important;
    font-weight: normal;
    margin-bottom: 0px;
  }
  .strong-green-small {
    color: $green;
    font-size: 18px !important;
    font-weight: normal;
    margin-bottom: 0px;
  }
  .strong-blue-small>a{
    color: $blue3 !important;
    font-size: 18px !important;
    font-weight: normal;
    margin-bottom: 0px;
  }
  .strong {
    color: $double-dark-gray;
    font-size: 18px !important;
    font-weight: normal;
    margin-bottom: 0px;
  }
  p:last-child {
    font-size: 14px;
    font-weight: lighter;
  }

}


.width_240 {
  width: 240px;
}

// partie pour likes et partages
.dream-lovers {
  background-color: white;
  .likes-avatars {
    padding: 60px 30px;
  }
}
.content-links {
  p {
    margin: 0px;
    font-weight: lighter;
    font-size: 14px;
  }
  .share-part {
    display: flex;
    justify-content: space-between;
    .fa {
      padding: 18px 15px;
      font-size: 25px;
      &:hover {
        color: $almost-black;
      }
    }
  }
}

.bg-color-white {
  background-color: white;
}

// sous-navbar
.dreams.show {
  background-color: $other-body-bg;
  h5 {
    font-size: 18px;
  }
  .dream-card {
    margin: 50px 0px;
  }
  .dreams-menu {
    padding: 0px 0px 0px 15px;
    margin: 0px;
    background-color: white;
    .navbar-dreamlist-button {
      &:hover {
        color: $blue3;
      }
      &:focus {
        color: $blue3;
      }
      &:hover:after {
        top: 57px;
      }
      &:focus:after {
        text-decoration: none;
        color: $blue3;
        position: absolute;
        border-bottom: 3px solid $blue3 !important;
        top: 57px;
        left: 0;
        right: 0;
        content: "";
      }

      &.active:after {
        text-decoration: none;
        color: $blue3;
        position: absolute;
        border-bottom: 3px solid $blue3;
        top: 57px;
        left: 0;
        right: 0;
        content: "";
      }
      p {
        font-weight: bolder;
        font-size: 16px;
        text-align: center;
        margin: 0px;
      }
    }

  }
  .buttons-links-tabs {
    display: flex;
    flex-direction: row;
  }
  .tab-content {
    background-color: white;
    min-height: 450px;
  }

}

.nb {
  margin: 0px;
}

.revealing {
  display: flex;
  justify-content: flex-end;
}

.kitty-no-goal-amount {
  margin-top: 15px;
  padding: 0px 30px;
  h5 {
    font-size: 18px;
  }
}

.marged-pot-closed {
  padding: 40px 15px;
}



