.wrapper-kitty-new {
  padding-top: 150px;
  padding-right: 90px;
  padding-left: 90px;
}

.kitties.new {
  .create-dream-card {
    position: relative;
    .btn-dreamlist {
      height: 45px;
      width: 220px;
      position: absolute !important;
      right: 0px !important;
      bottom: -15px !important;
    }
    .btn-dreamlist-2 {
      font-size: 18px;
      font-weight: normal;
      padding: 10px 90px !important;
      height: 45px;
      margin-top: 15px;
      position: absolute;
      left: -260px;
      bottom: -15px;
    }
  }
}
