.navbar-dreamlist {
  .alarm-ul {
    padding: 0px;
  }

  li.notif-read {
    background-color: $other-body-bg;
    opacity: 0.8;
    &:hover {
      background-color: #e9ebee;
      opacity: 1;
    }
    & > a {
      color: $almost-black !important;
      border-bottom: 1px solid $light-gray;
      white-space: normal;
      min-width: 430px;
      font-size: 15px;
    }
  }

  li.notif-unread {
    background-color: $pastel-green;
    opacity: 0.8;

    &:hover {
      background-color: $pastel-green;
      opacity: 1;
    }
    & > a {
      color: $almost-black !important;
      border-bottom: 1px solid $light-gray;
      white-space: normal;
      min-width: 430px;
      font-size: 15px;
    }
  }
}
