.profiles.edit {

  .content-form {
    padding-top: 0px;
    margin-top: 0px;
  }

  .create-dream-card {
    min-height: 500px;
  }

  .btn-dreamlist-2 {
    position: absolute;
    right: 10px;
    bottom: 90px;
    width: 550px;
    text-align: center;
  }
}
