<div class="avancement">
  <div class="mx-4 mx0-sm">
    <div class="transition height-2 bg-black progress-wrap progess" data-progress-percent="50">
      <div class="progress-bar progress"></div>
    </div>
  </div>
</div>
