<div class="content-links text-center">




  <div class="share-part">
    <div><%= image_tag "facebook.png", class: "share" %></div>
    <div><%= image_tag "instagram.png", class: "share" %></div>
    <div><%= image_tag "pinterest.png", class: "share" %></div>

  </div>

</div>

