<div class="navbar_settings">
  <div class="container">
    <% if user_signed_in? %>
      <div class="dreams-menu">
        <div class="navbar-right-links text-center">
          <div class="tabs-settings">
            <%= link_to 'Account', '#', class: "navbar-dreamlist-button text-center tab-settings active", "data-target" => "#tab-account" %>
            <%= link_to 'Your Contributions', '#', class: "navbar-dreamlist-button text-center tab-settings", "data-target" => "#tab-contributions" %>
            <%= link_to 'Messages', '#', class: " navbar-dreamlist-button text-center tab-settings", "data-target" => "#tab-messages" %>
            <%= link_to 'Money Pots', '#', class: " navbar-dreamlist-button text-center tab-settings", "data-target" => "#tab-money" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
