<div class="tableau">
  <%= link_to "", "#", class: "tableau-link" %>
  <div class="photos-dreams">
    <div class="row">
      <% if dreams.count >= 6 %>
        <% i = 1 %>
        <% 6.times do %>
          <div class="col-xs-4">
            <div class="dream-image" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('<%= dream_picture_path(dreams[i], width: 100, height: 100, crop: :fill) %>');">
            </div>
          </div>
          <% i += 1 %>
        <% end %>
      <% else %>
        <% dreams.each do |dream| %>
          <div class="col-xs-4">
            <div class="dream-image" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('<%= dream_picture_path(dream, width: 100, height: 100, crop: :fill) %>');">
            </div>
          </div>
        <% end %>
        <% (6 - dreams.count).times do %>
          <div class="col-xs-4">
            <div class="dream-image"></div>
          </div>
        <% end %>
      <% end %>

      <div class="col-xs-12">
        <p><%=category.capitalize%></p>
      </div>
    </div>
  </div>
</div>
