<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 50%), url('<%= image_path('background.jpg') %>');">

      <div class="banner-content">
        <h1>Fulfill your dreams</h1>
        <p>List and share your dreams to make them come true.</p>
        <a id="btn-dreamlist-banner">Create your dream</a>
      </div>
  </div>
</div>
