<!-- information about kitty evolution -->
  <div class="kitty-details-no-amount">

    <div class="collected-amount">
      <% if @dream.kitty.private? %>
        <h4 class="strong-green">You already saved <%= @dream.kitty.total_contribution_public %> € for your dream</h4>
      <% else %>
        <h4 class="strong-green reveal"><%= @dream.kitty.real_contribution_avancement %> € collected</h4>
      <% end %>
    </div>

    <div class="secondary-elements">
      <% if !@dream.kitty.private? %>
        <div class="in-column">
          <p class="strong secret"><%= @dream.kitty.public_contributors_count %></p>
          <p>contributions</p>
        </div>
      <% end %>

      <div class="in-column">
        <% if dream.end_date.present? %>
          <p class="strong"><%= distance_of_time_in_words(Time.now, dream.end_date) %></p>
          <p>left</p>
        <% else %>
          <p class="strong">No limit date </p>
          <p>for this dream</p>
        <% end %>
      </div>
    </div>

  </div>



