<% if current_user != dream.user %>
  <div class="kitty-details private">
    <div class="in-column">
      <h5>Secret (only for you):</h5>
    </div>
    <div class="in-column">
      <p class="strong-green"><%= dream.kitty.total_contribution_public + dream.kitty.total_contribution_private %> €</p>
      <p>out of <%= dream.kitty.goal_amount.to_i %> €</p>
    </div>

    <div class="in-column">
      <p class="strong secret"><%= number_to_percentage(dream.kitty.real_contribution_avancement + dream.kitty.real_contribution_avancement_private, precision: 0) %></p>
      <p>collected</p>
    </div>

    <div class="in-column">
      <p class="strong secret"><%= dream.kitty.contributors.count %></p>
      <p>contributions</p>
    </div>
  </div>
<% end %>
