<div class="content-links text-center">

  <div class="share-part">
    <p id="shareBtn"><%= icon("facebook") %></p>
    <p id=""><%= icon("instagram")%></p>
    <p id=""><%= icon("pinterest")%></p>
  </div>

</div>

