<div class="navbar-show-dream navbar-show-dream-sticky">
    <div class="navbar-wagon-item">
    <h4><%= @dream.title %></h4>
    </div>
    <div class="show-navbar-btn-items">
      <div class="like-part">
        <div class="like-actions" data-id="<%=@dream.id%>">
          <%= like_action_for(@dream) %>
        </div>
      </div>
      <% if current_user != @dream.user && @dream.kitty.private? %>
        <!-- <h5>kitty closed</h5> -->
      <% else %>
        <%= link_to "Support this dream", new_kitty_contributor_path(@dream.kitty), class: 'btn-dreamlist' %>
      <% end %>
    </div>
</div>
