.navbar-show-dream {
  margin: 25px 0px;
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
  background: $other-body-bg;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  height: 80px;
  padding: 0px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  width: 100%;
  .name-edit {
    padding: 0px 0px 0px 15px;
  }
  .btn-dreamlist-default {
    padding: 5px 40px;
    color: $gray;
    border: 1px solid $gray;
    &:hover {
    opacity: 1;
    color: $almost-black;
    text-decoration: none;
    }
  }
  .navbar-wagon-item {
    margin: 0px;
    padding: 0px;
  }
  .btn-dreamlist-blue {
    padding: 10px 55px;
  }
  .btn-dreamlist {
    min-width: 240px;
    padding: 10px 40px;
  }
  h4 {
    padding: 0px;
    color: $almost-black;
    font-size: 24px;
    //  padding-bottom: 15px;
    // border-bottom: 1px solid #DBDBDB !important;
  }
}

.navbar-show-dream.mobile {
  .btn-dreamlist {
    min-width: 200px;
    padding: 10px 0px;
  }
}

.navbar-show-dream-sticky {
  top: 0px;
  z-index: 10;
  position: sticky;
  width: 100%;
}

.show-navbar-btn-items {
  z-index: 10;
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.like-part {
  padding: 0px 18px;
  .like {
    height: 30px;
  }
}

.info-owner {
  display: flex;
  justify-content: space-between;
  p {
    padding: 0px 10px;
    color: $almost-black;
  }
}
