.navbar-show-dream {
  margin: 80px 0px 10px 0px;
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
  background: $other-body-bg;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  height: 70px;
  padding: 0px 60px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  width: 100%;
  .btn-dreamlist-blue {
    padding: 10px 55px;
  }
  .btn-dreamlist {
    padding: 10px 55px;
  }
  h4 {
    padding: 0px 15px;
    color: $almost-black;
    font-size: 30px;
    //  padding-bottom: 15px;
    // border-bottom: 1px solid #DBDBDB !important;
  }
}

.navbar-show-dream-sticky {
  top: 0px;
  z-index: 10;
  position: sticky;
  width: 100%;
}

.show-navbar-btn-items {
  z-index: 10;
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.like-part {
  padding: 0px 18px;
  .like {
    height: 38px;
  }
}
